<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
</head>

<body>
    <h1>Add a Product</h1>
    <form action="/products" method="POST">
        <input type="text" name="name" placeholder="product name">
        <input type="number" name="price" placeholder="product price">
        <select name="category" id="">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <button>Submit</button>
    </form>
</body>

</html>